*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", Poppins, sans-serif;
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 1.25rem;
    color: #0C0C0C;
    background: #F0F0F0;
}

h6 {
    font-weight: 500;
    font-size: medium;
    margin-bottom: 5px;
}


.App{
    position: static;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}